flask==2.2.5               # last version supporting Python 3.8
flask-caching==1.10.1      # works with Flask 2.2
numpy==1.24.4              # latest version supporting Python 3.8
scipy==1.10.1              # latest version supporting Python 3.8
matplotlib==3.7.3          # latest version supporting Python 3.8
pandas==1.5.3              # for Python 3.8
